.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
public/hot
*.log
docker-compose.override.yml
README.md
docs/
tests/
.phpunit.cache
.vscode
.idea
